name: Docker Image CI

on:
  push:
    tags:
      - '*'

jobs:

  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./${{ github.ref_name }}e

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag keletes/odoo:${{ github.ref_name }}
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: "{{defaultContext}}:${{ github.ref_name }}e"
        push: ${{ github.event_name != 'pull_request' }}
        tags: keletes/odoo:${{ github.ref_name }} , keletes/odoo:latest
